In [99]:
import pandas as pd
import re
import os

## Electric Consumption/Expenditures by State

In [100]:
url_seds = r"https://www.eia.gov/state/seds/sep_use/total/csv/use_all_btu.csv"
df = pd.read_csv(url_seds)

In [101]:
type_codes = pd.read_csv(r"https://raw.githubusercontent.com/mkivenson/Visualization/master/Final%20Project/Datasets/State%20Energy%20Data%20System%201960-2009/energy_codes.csv")
type_codes

   Code12                            Energy Type
0      AB  aviation gasoline blending components
1      AR                   asphalt and road oil
2      AV                      aviation gasoline
3      BM                                biomass
4      BQ                          normal butane
..    ...                                    ...
60     WD                                   wood
61     WS                          biomass waste
62     WW                 wood and biomass waste
63     WX                                  waxes
64     WY                                   wind

[65 rows x 2 columns]

In [102]:
sector_codes = pd.read_csv(r"https://raw.githubusercontent.com/mkivenson/Visualization/master/Final%20Project/Datasets/State%20Energy%20Data%20System%201960-2009/sector_code.csv")
sector_codes

   Code34                                             Sector
0      AC                              transportation sector
1      CC                                  commercial sector
2      EI                              electric power sector
3      HC                 residential and commercial sectors
4      IC                                  industrial sector
5      RC                                 residential sector
6      TC                                        all sectors
7      TX                                all end-use sectors
8      AP       transportation sector consumption per capita
9      CP           commercial sector consumption per capita
10     EG  electricity net generation, electric power sector
11     ET                  electricity net generation, total
12     EX                                            exports
13     IM                                            imports
14     IP           industrial sector consumption per capita
15     IS                   interstate flow (of electricity)
16     KC                            coke plants consumption
17     LC  energy losses and co-products (from production...
18     LP                               lease and plant fuel
19     NI                                        net imports
20     OC  industrial consumption, excluding coke plants ...
21     PZ                                      pipeline fuel
22     RP          residential sector consumption per capita
23     TP                       total consumption per capita
24     VH                                       vehicle fuel

In [103]:
codes = pd.read_csv("https://raw.githubusercontent.com/mkivenson/Visualization/master/Final%20Project/Datasets/State%20Energy%20Data%20System%201960-2009/main_code.csv")
df = (pd.melt(df, id_vars=['Data_Status','State','MSN'])
      .merge(codes, on='MSN', how = 'left')
     )

df = df.merge(type_codes, left_on=df['MSN'].str[0:2], right_on='Code12', how = 'left')
df = df.merge(sector_codes, left_on=df['MSN'].str[2:4], right_on='Code34', how = 'left')

os.chdir(r"C:\Users\mkive\Documents\GitHub\Visualization\Final Project\Datasets\State Energy Data System 1960-2009")
(df[(df.MSN.str.endswith('B'))]).to_csv('new_data.csv', index = False)

In [105]:
(df[(~df.MSN.str.endswith('B'))]).to_csv('pop_data.csv', index = False)

In [5]:
url = r"https://openei.org/doe-opendata/dataset/5e3b0afb-e8bb-4515-af2b-491d3e85123f/resource/"
seds = pd.read_csv(url + r"8a5a465a-2b92-49e3-9e94-862d10e3f272/download/completeseds19602009.csv")
seds.head()

     MSN StateCode  Year  Data
0  ABICB        AK  1960   0.0
1  ABICB        AK  1961   0.0
2  ABICB        AK  1962   0.0
3  ABICB        AK  1963   0.0
4  ABICB        AK  1964   0.0

In [6]:
codes = pd.read_csv(url + r"f9055073-cf01-4bdc-895d-c88e10738fb0/download/msncodesforsedsdata.csv")
codes.head()

,MSN,Description,Unit
0,ABICB,Aviation gasoline blending components consumed...,Billion Btu
1,ABICP,Aviation gasoline blending components consumed...,Thousand barrels
2,ARICB,Asphalt and road oil consumed by the industria...,Billion Btu
3,ARICD,Asphalt and road oil price in the industrial s...,Dollars per million Btu
4,ARICP,Asphalt and road oil consumed by the industria...,Thousand barrels

In [33]:
states = pd.read_csv(url + r"ce23fee3-b75c-4e9a-9b8c-a1858ffe2684/download/postalcodesforsedsdata.csv")
states.head()

  Postal Code       State
0          AK      Alaska
1          AL     Alabama
2          AR    Arkansas
3          AZ     Arizona
4          CA  California

In [38]:
full_result = seds.merge(codes, on='MSN', how = 'left')
full_result = full_result.merge(type_codes, left_on=full_result['MSN'].str[0:2], right_on='Code12', how = 'left')
full_result = full_result.merge(sector_codes, left_on=full_result['MSN'].str[2:4], right_on='Code34', how = 'left')
full_result

,MSN,StateCode,Year,Data,Description,Unit,Code12,Energy Type,Code34,Sector
0,ABICB,AK,1960,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
1,ABICB,AK,1961,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
2,ABICB,AK,1962,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
3,ABICB,AK,1963,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
4,ABICB,AK,1964,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
...,...,...,...,...,...,...,...,...,...,...
1375816,WYTCB,WY,2005,7171.92274,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375817,WYTCB,WY,2006,7529.12606,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375818,WYTCB,WY,2007,7461.24380,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375819,WYTCB,WY,2008,9484.88887,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375820,WYTCB,WY,2009,21727.75670,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors

In [61]:
full_result[(full_result.Description.str.contains('Natural gas consume', na=False)) & (full_result.Description.str.contains('including supplemental gaseous fuels', na=False)) & (full_result.StateCode == 'US')].MSN.unique()

array(['NGCCB', 'NGCCP', 'NGEIB', 'NGEIP', 'NGICB', 'NGICP', 'NGISB',
       'NGRCB', 'NGRCP', 'NGRFB'], dtype=object)

In [147]:
energy_fields = [
     'Coal consumed by the commercial sector.',
     'Coal consumed by the industrial sector.',
     'Coal consumed by the residential sector.',
     'Coal total consumption.',
     'All petroleum products consumed by the commercial sector.',
     'All petroleum products consumed by the industrial sector.',
     'All petroleum products consumed by the residential sector.',
     'All petroleum products total consumption.',
     'Natural gas expenditures in the transportation sector.',
     'Natural gas consumed by (delivered to) the commercial sector (including supplemental gaseous fuels).',
     'Natural gas consumed by (delivered to) the industrial sector (including supplemental gaseous fuels).',
     'Natural gas consumed by (delivered to) the residential sector (including supplemental gaseous fuels).',
     'Natural gas total consumption (including supplemental gaseous fuels).',
     'Electricity consumed by (i.e., sold to) the commercial sector.',
     'Electricity consumed by (i.e., sold to) the industrial sector.',
     'Electricity consumed by (i.e., sold to) the residential sector.',
     'Electricity total consumption (i.e., sold).',
     'Total energy consumed by the commercial sector.',
     'Total energy consumed by the industrial sector.',
     'Total energy consumed by the residential sector.',
     'Total energy consumption.',
     'Total energy expenditures.']

In [148]:
result = full_result[full_result['Description'].isin(energy_fields)]
result.head()

,MSN,StateCode,Year,Data,Description,Unit
76486,CLCCB,AK,1960,495.85238,Coal consumed by the commercial sector.,Billion Btu
76487,CLCCB,AK,1961,495.78957,Coal consumed by the commercial sector.,Billion Btu
76488,CLCCB,AK,1962,593.30167,Coal consumed by the commercial sector.,Billion Btu
76489,CLCCB,AK,1963,392.99660,Coal consumed by the commercial sector.,Billion Btu
76490,CLCCB,AK,1964,306.14870,Coal consumed by the commercial sector.,Billion Btu

In [149]:
result['Energy Type'] = result['Description'].str.extract(r'(All petroleum products|Coal|Natural gas|Electricity|Total energy)')
result['Sector'] = result['Description'].str.extract(r'(commercial|industrial|residential|total)').fillna('total')
result.reset_index()

C:\Users\mkive\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\mkive\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,MSN,StateCode,Year,Data,Description,Unit,Energy Type,Sector
0,76486,CLCCB,AK,1960,495.85238,Coal consumed by the commercial sector.,Billion Btu,Coal,commercial
1,76487,CLCCB,AK,1961,495.78957,Coal consumed by the commercial sector.,Billion Btu,Coal,commercial
2,76488,CLCCB,AK,1962,593.30167,Coal consumed by the commercial sector.,Billion Btu,Coal,commercial
3,76489,CLCCB,AK,1963,392.99660,Coal consumed by the commercial sector.,Billion Btu,Coal,commercial
4,76490,CLCCB,AK,1964,306.14870,Coal consumed by the commercial sector.,Billion Btu,Coal,commercial
...,...,...,...,...,...,...,...,...,...
97755,1246180,TETCV,WY,2005,3674.47767,Total energy expenditures.,Million dollars,Total energy,total
97756,1246181,TETCV,WY,2006,4320.10941,Total energy expenditures.,Million dollars,Total energy,total
97757,1246182,TETCV,WY,2007,4533.06198,Total energy expenditures.,Million dollars,Total energy,total
97758,1246183,TETCV,WY,2008,5581.09722,Total energy expenditures.,Million dollars,Total energy,total
97759,1246184,TETCV,WY,2009,3894.93050,Total energy expenditures.,Million dollars,Total energy,total

In [13]:
os.chdir(r"C:\Users\mkive\Documents\GitHub\Visualization\Final Project\Datasets\State Energy Data System 1960-2009")
#result.to_csv('preprocessed.csv', index = False)

In [35]:
full_result = (full_result[(full_result.MSN.str.endswith('B'))])
# | (full_result.MSN.str.endswith('EIB')) | (full_result.MSN == 'NUETB') | (full_result.MSN == 'ELNIB') | (full_result.MSN == 'NUEGB')

In [36]:
full_result

,MSN,StateCode,Year,Data,Description,Unit,Code12,Energy Type,Code34,Sector
0,ABICB,AK,1960,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
1,ABICB,AK,1961,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
2,ABICB,AK,1962,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
3,ABICB,AK,1963,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
4,ABICB,AK,1964,0.00000,Aviation gasoline blending components consumed...,Billion Btu,AB,aviation gasoline blending components,IC,industrial sector
...,...,...,...,...,...,...,...,...,...,...
1375816,WYTCB,WY,2005,7171.92274,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375817,WYTCB,WY,2006,7529.12606,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375818,WYTCB,WY,2007,7461.24380,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375819,WYTCB,WY,2008,9484.88887,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors
1375820,WYTCB,WY,2009,21727.75670,Electricity produced from wind energy.,Billion Btu,WY,wind,TC,all sectors

In [37]:
full_result.to_csv('full_data.csv', index = False)