## Data 608 Project Proposal

For my final data visualization project, I want to look at historical energy consumption data to identify changes and trends in energy usage over time, by sector.

### Importance

In my previous job position, I was an analyst at Con Edison's energy efficiency department. There was a lot of focus on promoting energy efficient technology across various sectors, particularly the commercial and residential spaces. Most of these efforts are relatively recent and focus on reducing consumption in New York only. 

I am interested in learning more about energy consumption changes at a larger scale (global, more sectors, and more energy types). With global warming already causing severe consequences, it is important to encourage any improvements in energy sustainability. 

### Data Sources

**[Energy Consumption Statistics by State, Energy Source, and Sector (1960 - 2009) from the U.S. Department of Energy](https://openei.org/datasets/dataset/state-energy-data-system-seds-complete-dataset-through-2009)**

* Identify trends in energy type usage for each segment
* Visualize change over time

**[Annual Renewable Electricity Consumption by Country (2005 - 2009)](https://openei.org/datasets/dataset/annual-renewable-electricity-consumption-by-country-2005-2009)**

* Which countries are most sustainable (normalize by population)?

**[Residential Energy Consumption 2015](https://www.eia.gov/consumption/residential/data/2015/index.php?view=consumption)**

* Which end uses consume the most energy in residential spaces?
* How does energy use and source compare across the country?


### Parameters

#### Geography
* State
* Country

#### Timeframe
* Annual Historical Data (Pre-2009)
* Current Residential Data (2015)

#### Data Points
* Energy Source 
* Sector
* Consumption (in BTU / kWh / kW / etc)

### Visualization

To visualize this information, I want to create a scroll-based visualization that will help tell a story of energy consumption changes for all these various parameters. 

Scroll Magic: [http://scrollmagic.io/](http://scrollmagic.io/)

Example: [http://atintell.com/](http://atintell.com/)

Alternative: Tableau Stories

In [2]:
import pandas as pd
seds = pd.read_csv("https://openei.org/doe-opendata/dataset/5e3b0afb-e8bb-4515-af2b-491d3e85123f/resource/8a5a465a-2b92-49e3-9e94-862d10e3f272/download/completeseds19602009.csv")
seds

           MSN StateCode  Year         Data
0        ABICB        AK  1960      0.00000
1        ABICB        AK  1961      0.00000
2        ABICB        AK  1962      0.00000
3        ABICB        AK  1963      0.00000
4        ABICB        AK  1964      0.00000
...        ...       ...   ...          ...
1375816  WYTCB        WY  2005   7171.92274
1375817  WYTCB        WY  2006   7529.12606
1375818  WYTCB        WY  2007   7461.24380
1375819  WYTCB        WY  2008   9484.88887
1375820  WYTCB        WY  2009  21727.75670

[1375821 rows x 4 columns]

In [ ]:
codes = pd.read_csv("")