## Data 608 Project Proposal

For my final data visualization project, I want to look at historical energy consumption data to identify changes and trends in energy usage over time, by sector.

### Importance

In my previous job position, I was an analyst at Con Edison's energy efficiency department. There was a lot of focus on promoting energy efficient technology across various sectors, particularly the commercial and residential spaces. Most of these efforts are relatively recent and focus on reducing consumption in New York only. 

I am interested in learning more about energy consumption changes at a larger scale (global, more sectors, and more energy types). With global warming already causing severe consequences, it is important to encourage any improvements in energy sustainability. 

### Data Sources

**[Energy Consumption Statistics by State, Energy Source, and Sector (1960 - 2009) from the U.S. Department of Energy](https://openei.org/datasets/dataset/state-energy-data-system-seds-complete-dataset-through-2009)**

* Identify trends in energy type usage for each segment
* Visualize change over time

**[Annual Renewable Electricity Consumption by Country (2005 - 2009)](https://openei.org/datasets/dataset/annual-renewable-electricity-consumption-by-country-2005-2009)**

* Which countries are most sustainable (normalize by population)?

**[Residential Energy Consumption 2015](https://www.eia.gov/consumption/residential/data/2015/index.php?view=consumption)**

* Which end uses consume the most energy in residential spaces?
* How does energy use and source compare across the country?


### Parameters

#### Geography
* State
* Country

#### Timeframe
* Annual Historical Data (Pre-2009)
* Current Residential Data (2015)

#### Data Points
* Energy Source 
* Sector
* Consumption (in BTU / kWh / kW / etc)

### Visualization

To visualize this information, I want to create a scroll-based visualization that will help tell a story of energy consumption changes for all these various parameters. 

Scroll Magic: [http://scrollmagic.io/](http://scrollmagic.io/)

Example: [http://atintell.com/](http://atintell.com/)

Alternative: Tableau Stories

## Data Cleanup
### Electric Consumption/Expenditures by State

In [9]:
import pandas as pd
import re
import os
url = r"https://openei.org/doe-opendata/dataset/5e3b0afb-e8bb-4515-af2b-491d3e85123f/resource/"
seds = pd.read_csv(url + r"8a5a465a-2b92-49e3-9e94-862d10e3f272/download/completeseds19602009.csv")
seds.head()

     MSN StateCode  Year  Data
0  ABICB        AK  1960   0.0
1  ABICB        AK  1961   0.0
2  ABICB        AK  1962   0.0
3  ABICB        AK  1963   0.0
4  ABICB        AK  1964   0.0

In [10]:
codes = pd.read_csv(url + r"f9055073-cf01-4bdc-895d-c88e10738fb0/download/msncodesforsedsdata.csv")
codes.head()

,MSN,Description,Unit
0,ABICB,Aviation gasoline blending components consumed...,Billion Btu
1,ABICP,Aviation gasoline blending components consumed...,Thousand barrels
2,ARICB,Asphalt and road oil consumed by the industria...,Billion Btu
3,ARICD,Asphalt and road oil price in the industrial s...,Dollars per million Btu
4,ARICP,Asphalt and road oil consumed by the industria...,Thousand barrels

In [11]:
states = pd.read_csv(url + r"ce23fee3-b75c-4e9a-9b8c-a1858ffe2684/download/postalcodesforsedsdata.csv")
states.head()

  Postal Code       State
0          AK      Alaska
1          AL     Alabama
2          AR    Arkansas
3          AZ     Arizona
4          CA  California

In [12]:
result = seds.merge(codes, on='MSN', how = 'left')
result.head()

,MSN,StateCode,Year,Data,Description,Unit
0,ABICB,AK,1960,0.0,Aviation gasoline blending components consumed...,Billion Btu
1,ABICB,AK,1961,0.0,Aviation gasoline blending components consumed...,Billion Btu
2,ABICB,AK,1962,0.0,Aviation gasoline blending components consumed...,Billion Btu
3,ABICB,AK,1963,0.0,Aviation gasoline blending components consumed...,Billion Btu
4,ABICB,AK,1964,0.0,Aviation gasoline blending components consumed...,Billion Btu

In [13]:
energy_fields = [
    'Coal consumed by the transportation sector.',
    'Coal expenditures in the transportation sector.',
     'Coal consumed by the commercial sector.',
     'Coal expenditures in the commercial sector.',
     'Coal consumed by the industrial sector.',
     'Coal expenditures in the industrial sector.',
     'Coal consumed by the residential sector.',
     'Coal expenditures in the residential sector.',
     'Coal total consumption.',
     'Coal total expenditures.',
     'All petroleum products consumed by the transportation sector.',
     'All petroleum products total expenditures in the transportation sector.',
     'All petroleum products consumed by the commercial sector.',
     'All petroleum products total expenditures in the commercial sector.',
     'All petroleum products consumed by the industrial sector.',
     'All petroleum products total expenditures in the industrial sector.',
     'All petroleum products consumed by the residential sector.',
     'All petroleum products total expenditures in the residential sector.',
     'All petroleum products total consumption.',
     'All petroleum products total expenditures.',
     'Natural gas consumed by the transportation sector. ',
     'Natural gas consumed by the transportation sector.',
     'Natural gas expenditures in the transportation sector.',
     'Natural gas consumed by (delivered to) the commercial sector (including supplemental gaseous fuels).',
     'Natural gas expenditures in the commercial sector (including supplemental gaseous fuels).',
     'Natural gas consumed by (delivered to) the industrial sector (including supplemental gaseous fuels).',
     'Natural gas expenditures in the industrial sector (including supplemental gaseous fuels).',
     'Natural gas consumed by (delivered to) the residential sector (including supplemental gaseous fuels).',
     'Natural gas expenditures in the residential sector (including supplemental gaseous fuels).',
     'Natural gas total consumption (including supplemental gaseous fuels).',
     'Natural gas total expenditures (including supplemental gaseous fuels).',
     'Electricity consumed by (i.e., sold to) the transportation sector.',
     'Electricity expenditures in the transportation sector.',
     'Electricity consumed by (i.e., sold to) the commercial sector.',
     'Electricity expenditures in the commercial sector.',
     'Electricity consumed by (i.e., sold to) the industrial sector.',
     'Electricity expenditures in the industrial sector.',
     'Electricity consumed by (i.e., sold to) the residential sector.',
     'Electricity expenditures in the residential sector.',
     'Electricity total consumption (i.e., sold).',
     'Electricity total expenditures.',
     'Total energy consumed by the transportation sector.',
     'Total energy expenditures in the transportation sector.',
     'Total energy consumed by the commercial sector.',
     'Total energy expenditures in the commercial sector.',
     'Total energy consumed by the industrial sector.',
     'Total energy expenditures in the industrial sector.',
     'Total energy consumed by the residential sector.',
     'Total energy total expenditures in the residential sector.',
     'Total energy consumption.',
     'Total energy expenditures.']

In [14]:
result = result[result['Description'].isin(energy_fields)]
result.head()

,MSN,StateCode,Year,Data,Description,Unit
64527,CLACB,AK,1960,85.50542,Coal consumed by the transportation sector.,Billion Btu
64528,CLACB,AK,1961,41.52961,Coal consumed by the transportation sector.,Billion Btu
64529,CLACB,AK,1962,42.78684,Coal consumed by the transportation sector.,Billion Btu
64530,CLACB,AK,1963,35.52433,Coal consumed by the transportation sector.,Billion Btu
64531,CLACB,AK,1964,33.22256,Coal consumed by the transportation sector.,Billion Btu

In [16]:
result['Energy Type'] = result['Description'].str.extract(r'(All petroleum products|Coal|Natural gas|Electricity|Total energy)')
result['Measure'] = result['Description'].str.extract(r'(consum|expenditures)')
result['Sector'] = result['Description'].str.extract(r'(transportation|commercial|industrial|residential|total)').fillna('total')
result.reset_index()

,index,MSN,StateCode,Year,Data,Description,Unit,Energy Type,Measure,Sector
0,64527,CLACB,AK,1960,85.50542,Coal consumed by the transportation sector.,Billion Btu,Coal,consum,transportation
1,64528,CLACB,AK,1961,41.52961,Coal consumed by the transportation sector.,Billion Btu,Coal,consum,transportation
2,64529,CLACB,AK,1962,42.78684,Coal consumed by the transportation sector.,Billion Btu,Coal,consum,transportation
3,64530,CLACB,AK,1963,35.52433,Coal consumed by the transportation sector.,Billion Btu,Coal,consum,transportation
4,64531,CLACB,AK,1964,33.22256,Coal consumed by the transportation sector.,Billion Btu,Coal,consum,transportation
...,...,...,...,...,...,...,...,...,...,...
168995,1246180,TETCV,WY,2005,3674.47767,Total energy expenditures.,Million dollars,Total energy,expenditures,total
168996,1246181,TETCV,WY,2006,4320.10941,Total energy expenditures.,Million dollars,Total energy,expenditures,total
168997,1246182,TETCV,WY,2007,4533.06198,Total energy expenditures.,Million dollars,Total energy,expenditures,total
168998,1246183,TETCV,WY,2008,5581.09722,Total energy expenditures.,Million dollars,Total energy,expenditures,total
168999,1246184,TETCV,WY,2009,3894.93050,Total energy expenditures.,Million dollars,Total energy,expenditures,total

In [17]:
os.chdir(r"C:\Users\mkive\Documents\GitHub\Visualization\Final Project\Datasets\State Energy Data System 1960-2009")
result.to_csv('preprocessed.csv', index = False)